@import "src/styles/colors";

.card{
  margin: 24px 0;
}

.card-without-title {
  margin: 24px 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.title {
  font-size: 24px;
  font-family: "OpenSans Bold";
  color: $primaryColor;
  margin-bottom: 28px;
}

.userTitle {
  font-size: 16px;
  font-family: "OpenSans Bold";
  color: $primaryColor;
  margin-bottom: 20px;
}

.action {
  margin-left: auto;
}

.content {
  //margin: 36px;
}

.delete-icon {
  position: absolute;
  top: -10px;
  right: -10px;
}
