@import "src/styles/colors";

.title-view {
  margin: 22px 0;

  &__headline {
    color: $primaryColor;
    font-size: 28px;
    font-family: "OpenSans Bold";
  }
  .ant-form-item {
    margin-bottom: 0;
  }
}
