@import "src/styles/colors";

.custom-breadcrumb {
  padding-left: 32px;
  padding-bottom: 4px;
  font-size: 14px;
  font-family: "OpenSans Regular";
  background: $backgroundColor;
  color: $primaryColor;
}
