@import "src/styles/colors";

.col {
  min-width: 300px;
}

.subject-view-card {
  margin: 24px 0;
  height: 620px;
  max-height: 620px;
}

.title {
  font-size: 24px;
  font-family: "OpenSans Bold";
  color: $primaryColor;
  margin-bottom: 28px;
}

.groups-container {
  overflow-y: auto;
  height: 490px;
  max-height: 490px;
  overflow-x: hidden;
}


@media (max-width: 768px) {
  .card {
    max-height: unset;
    height: auto;
  }
}
