@import "src/styles/colors";

.ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-icon {
    background: $primaryColor;
}

.ant-steps-item-process .ant-steps-item-icon {
    border-color: $primaryColor
}

.ant-steps-item-finish .ant-steps-item-icon {
    border-color: $primaryColor;
}

.ant-steps-item-finish .ant-steps-item-icon>.ant-steps-icon {
    color: $primaryColor;
}

.ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-tail:after {
    background-color: $primaryColor;
}

.ant-steps-item-error .ant-steps-item-icon {
    border-color: #faad14;
}

.ant-steps-item-error .ant-steps-item-icon>.ant-steps-icon {
    color: #faad14;
}

.ant-steps-item-error>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title {
    color: #faad14;
}

.ant-steps-item-error>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-description {
    color: #faad14;
}