@import "src/styles/colors";

.table {
  th {
    color: $white !important;
    background: $primaryColor !important;
    font-size: 14px;
    font-family: "OpenSans Semibold" !important;
  }

   th:first-child{
    border-radius: 10px 0 0 0 !important;
  }

   th:last-child{
    border-radius: 0 10px 0 0 !important;
  }
}

.ant-table-cell-fix-left, .ant-table-cell-fix-right {
  background: inherit;
}

.table-row-light {
  background-color: #f4f4f4 !important;
  font-size: 12px !important;
  font-family: "OpenSans Regular" !important;
  color: $primaryColor !important;
}

.table-row-dark {
  background-color: $white !important;
  font-size: 12px !important;
  font-family: "OpenSans Regular" !important;
  color: $primaryColor !important;
}

td.ant-table-column-sort {
  background: inherit;
}
