@import "./src/styles/colors";

.career {
  font-size: 20px;
  font-family: "OpenSans Regular";
  color: $primaryColor;
}

.col {
  min-width: 300px;
}

.text {
  font-size: 14px;
  font-family: "OpenSans Light";
  color: $nero;
}

.card {
  margin: 24px 0;
}

.title {
  font-size: 24px;
  font-family: "OpenSans Bold";
  color: $primaryColor;
  margin-bottom: 28px;
}

.component {
  width: 100%;
}

.export-button {
  position: absolute;
  margin-top: -60px;
}

