@import "src/styles/colors";

.login-view {
  width: 100%;
  height: 100vh;

  @media (max-width: 944px) {
    overflow-y: auto;
  }

  &__logo-posgrado-container {
    width: 100%;
    height: auto;
    z-index: 100;
  }

  &__logo-posgrado {
    width: 46vw;
    @media (max-width: 944px) {
      width: 70%;
    }
    @media (max-width: 700px) {
      width: 100%;
    }
  }

  &__unsa-image {
    clip-path: inset(0 62% 16% 0 round 0 0 50% 0);
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url("../../../media/images/front-image.jpg");
    width: 100%;
    height: 100%;
    position: absolute;

    @media (max-width: 1320px) {
      display: none;
    }
  }

  &__social-networks-container {
    margin-top: auto;
    z-index: 100;
    width: 100%;

  }

  &__social-networks {
    width: 35vw;
    margin-bottom: 3.3vh;
    @media (max-width: 944px) {
      width: 55%;
      overflow-y: hidden;
      margin-bottom: -.1rem;
    }
    @media (max-width: 700px) {
      width: 65%;
      margin-top: 6rem;
    }
    @media (max-width: 500px) {
      width: 80%;
      margin-top: 6rem;
    }
  }

  &__logo-unsa {
    width: 38vw;
    z-index: 100;
    position: absolute;
    top: 5%;
    @media (max-width: 944px) {
     display: none;
    }

  }

  &__bottom-line {
    height: 3.5vh;
    background: $primaryColor;
    position: absolute;
    width: 100%;
    bottom: 0;
    @media (max-width: 944px) {
      position: relative;
    }
  }

  &__form {
    position: absolute;
    right: 12.5%;
    top: 30%;
    min-width: 35%;
    z-index: 1000;

    @media (max-width: 1660px) {
      right: 8%;
    }

    @media (max-width: 1440px) {
      right: 6%;
    }

    @media (max-width: 1320px) {
      position:absolute;
      left:50%;
      top:50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
    @media (max-width: 944px) {
      width: 50%;
      top: 30%;
      position: relative;
    }
    @media (max-width: 836px) {
      width: 60%;
      top: 30%;
      position: relative;
    }
    @media (max-width: 700px) {
      width: 70%;
      top: 35%;
    }
  }

  &__line {
    height: 10px;
    background: $secondaryColor;
    margin-bottom: 1.25rem;


  }

  &__error {
    font-size: 13px !important;
    font-family: "OpenSans Regular";
    color: $error;
    margin-top: -15px;

    &--google {
      margin-top: 15px;
    }
  }
}

