
.upload {
  width: 100%;

}


.custom-upload-file {
  .ant-btn-primary {
    background: #141E42 !important;
    border-radius: 0 10px 10px 0 !important;
    text-overflow: ellipsis !important;
    width: 100% !important;
    min-width: unset;
  }

  .ant-input {
    border-radius: 10px 0 0 10px !important;
    cursor: pointer;

  }
}
