.messageModal .ant-modal-footer {
    text-align: center;
}

.messageContent {
    margin-bottom: 0 !important;
}

.messageContent p {
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
}
