@import "colors";

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'OpenSans Regular' !important;
  height:100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
