$primaryColor: #141E42;
$secondaryColor: #999999;
$solitude: #E6E9ED;
$nero: #252525;
$error: #ff4d4f;
$blueCyan: #D6E6ED;

$carmine: #ad052f;
$secundaryColor: #ad052f;
$white: #FFF;
$primaryColorDisabled: #a83b57;
$gray: #999999;
$regentGray: #8697A6;
$cyanBlue: #012340;
$mainlyBlue: #022f55;
$backgroundColor: #F0F2F5;
$disabledColorBackground: #4a6596;
$disabledColor: #f4f4f4;

$lightGray: #F8F8F8;
