@import "colors";

::-webkit-scrollbar {
  width: 5px !important;
  height: 4px !important;
}

::-webkit-scrollbar-thumb {
  background: $primaryColor;
  border-radius: 15px;
}

.ant-upload.ant-upload-select-picture-card {
  width: 100% !important;
  //height: 300px !important;
  //max-height: 300px !important;
}

.ant-upload-list-picture-card-container {
  width: 100% !important;
  height: 340px !important;
  //
  //max-height: 300px !important;
}

.ant-input {
  border-radius: 8px !important;
  padding: 0 10px;
  height: 40px;
  color: $primaryColor !important;
  font-size: 14px !important;
  font-family: "OpenSans Regular";
}

.ant-input-number {
  border-radius: 8px !important;
  padding: 0 10px;
  height: 40px;
  color: $primaryColor !important;
  font-size: 14px !important;
  font-family: "OpenSans Regular";
}

.ant-input-number-input {
  height: 35px !important;
}

.ant-input-affix-wrapper {
  border-radius: 8px !important;
  padding: 0 10px;
  height: 40px;
  color: $nero !important;
  .ant-input {
    height: 100%;
  }
}

.ant-input-password {
  height: 40px;
  border-radius: 8px !important;
  font-size: 14px !important;
  font-family: "OpenSans Regular";
  color: $primaryColor !important;
  padding: 0 10px;
}

.ant-select {
  color: $primaryColor !important;
  font-family: "OpenSans Regular";
  height: 40px;
}



.ant-select-selector {
  border-radius: 8px !important;
  font-size: 14px !important;
  font-family: "OpenSans Regular";
  color: $primaryColor !important;
  padding: 0 10px;
  height: 40px !important;
  align-items: center;
}

.ant-select-selection-search-input {
  height: 40px !important;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  color: $primaryColor !important;
  font-family: "OpenSans Semibold";

}

.ant-form-item-label > label{
  font-size: 12px !important;
  font-family: "OpenSans Semibold";
  color: $primaryColor !important;
  border-color: $primaryColor !important;
}

.ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before   {
  display: none !important;
}

.ant-col-24.ant-form-item-label {
  padding: 0 !important;
}

.ant-btn-primary {
  background: $primaryColor !important;
  font-family: 'OpenSans Semibold', serif;
  font-size: 14px;
  color: $regentGray;
  border-radius: 10px !important;
  height: 40px !important;
  border-color: $primaryColor !important;
  text-overflow: ellipsis !important;
  min-width: 150px;
}

.ant-btn-default {
  background: $white !important;
  font-family: 'OpenSans Semibold', serif;
  font-size: 14px;
  color: $primaryColor !important;
  border-radius: 10px !important;
  height: 40px !important;
  border-color: $primaryColor !important;
  text-overflow: ellipsis !important;
  min-width: 150px;
}

.ant-btn-default:hover {
  color: $primaryColor;
}


.ant-btn-primary[disabled] {
  background: $disabledColorBackground !important;
  color: $disabledColor !important;
  border-color: $disabledColorBackground !important;
}



.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: $white !important;
}

.ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab-active {
  background: $primaryColor !important;
}

.ant-layout-header {
  padding: 0 !important;
  line-height: normal !important;
}

.ant-layout-sider {
  flex: 0 0 250px !important;
  max-width: 250px !important;
  min-width: 250px !important;
  width: 250px !important;
  @media (max-width: 48em ) {
    display: none;
  }
}

.ant-layout-sider-children {
  width: 250px !important;
}

.ant-card {
  border-radius: 20px !important;
  margin-bottom: 2rem !important;
}

.ant-card-body {
  padding: 30px !important;
}

.ant-tabs-top > .ant-tabs-nav {
  margin: 0 !important;

}

.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab {
  min-width: 150px;
  justify-content: center;
  background: transparent !important;
  border: 1px solid #D8DCE6 !important;
  box-shadow: 0 1px 2px rgb(0 0 0 / 8%) !important;
}

.ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab {
  border-radius: 15px 15px 0 0 !important;
}

.ant-upload.ant-upload-select-picture-card {
  height: 340px !important;
}

.ant-select-arrow .anticon {
  color: $primaryColor !important;
}

.ant-radio-wrapper {
  color: $nero !important;
}

.ant-upload.ant-upload-select {
  width: 100%;
}

.ant-layout-footer {
  padding: 0 !important;

}

.ant-input-suffix {
  margin-left: 11px !important;
}

.ant-pagination-disabled .ant-pagination-item-link {
  border-color: $white !important;
}

.ant-pagination-next .ant-pagination-item-link {
  border-color: $white !important;
  color: $nero;
}

.ant-pagination-prev .ant-pagination-item-link {
  border-color: $white !important;
  color: $nero;
}

.ant-pagination-item {
  border-color: $gray !important;
  //border-radius: 10px !important;
  a {
    color: $gray !important;
  }
}


.ant-pagination-item-active {
  border-color: $primaryColor !important;
  background: $primaryColor !important;

  a {
    color: $white !important;
  }
}
.ant-modal-content {
  height: 100%;
  display: flex;
  flex-direction: column;

}


.ant-card-bordered {
  border: 1px solid #D8DCE6 !important;
  box-shadow: 0 1px 2px #00000014 !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ant-alert {
  padding: 4px 15px !important;
  height: 40px;
  border-radius: 8px !important;
  color: $primaryColor !important;
  font-size: 14px !important;
  font-family: "OpenSans Regular" !important;
}

.ant-alert-message {
  color: $primaryColor !important;
}

.ant-form-item-explain {
  font-size: 12px !important;
  font-family: "OpenSans Regular";
}

.ant-btn-ghost {
  color: $primaryColor !important;
  border-color: $primaryColor !important;
  border-radius: 8px !important;
  font-family: "OpenSans Regular";
  font-size: 12px;
}

.delete-button {
  color: $error !important;
  border-color: $error !important;
  border-radius: 8px !important;
  font-family: "OpenSans Regular";
  font-size: 12px;
}

// sweet alter styles
.swal2-title {
  color: $primaryColor !important;
  font-size: 20px !important;
  font-family: "OpenSans Semibold";
}

.swal2-styled.swal2-confirm {
  background: $primaryColor !important;
  font-family: 'OpenSans Semibold', serif;
  font-size: 14px !important;
  border-radius: 10px !important;
  border-color: $primaryColor !important;
}

.swal2-styled.swal2-confirm:focus {
  background: $primaryColor !important;
  border: 0 !important;
}

.ant-input[disabled] {
  background-color: $lightGray !important;
  border-color: #d9d9d9;
  box-shadow: none;
  opacity: 1;
  cursor: initial !important;
  color: $primaryColor !important;
  font-family: 'OpenSans Regular', serif;
}

.ant-picker {
  height: 40px !important;
  border-radius: 8px !important;
  padding: 0 10px;
  color: $primaryColor !important;
  font-size: 14px !important;
  font-family: "OpenSans Regular";
}

.ant-picker-clear {
  color: $primaryColor !important;
  font-size: 14px !important;

}

.ant-modal-title {
  color: $primaryColor !important;
  font-size: 22px !important;
  font-family: "OpenSans Bold" !important;
  text-align: center !important;
}

.ant-modal-body {
  padding: 24px 24px 5px 24px;
  color: $primaryColor !important;
  font-size: 14px !important;
  font-family: "OpenSans Regular";
}

.ant-btn-disabled {
  background: $disabledColorBackground !important;
  color: $disabledColor !important;
  border-color: $disabledColorBackground !important;
  background: $disabledColorBackground !important;
  font-family: 'OpenSans Semibold', serif;
  font-size: 14px;
  border-radius: 10px !important;
  height: 40px !important;
  text-overflow: ellipsis !important;

}

.ant-message {
  color: $primaryColor !important;
  font-size: 14px !important;
  font-family: "OpenSans Regular";
}

.ant-empty {
  min-height: 250px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  .ant-empty-image {
    text-align: center;
    width: 100%;
  }
}

.ant-btn-ghost[disabled] {
  opacity: .4;
}

.ant-spin-blur {
  opacity: 1 !important;
}

.ant-spin-blur:after {
  opacity: 0 !important;
}

.ant-radio-wrapper {
  font-size: 12px !important;
  font-family: "OpenSans Regular" !important;
  color: $primaryColor !important;
}
.ant-radio-disabled+span {
  color: $primaryColor !important;
}

.ant-radio-checked .ant-radio-inner{
  border-color: #1890ff !important ;
}

.ant-radio-checked .ant-radio-inner:after{
  background-color: #1890ff !important;
}

.ant-radio:hover .ant-radio-inner {
  border-color: #1890ff !important ;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-color: #d9d9d9 !important;
  height: 40px !important;
}
.ant-pagination-options-size-changer.ant-select {
  height: 34px !important;

}
.ant-spin-blur {
  opacity: 1 !important;
}

.ant-spin-blur:after {
  opacity: 0 !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: $primaryColor !important;
  border-color: $primaryColor !important;
}

.ant-checkbox-disabled+span {
  color: $nero !important;
}