@font-face {
  font-family: 'OpenSans Bold';
  font-style: normal;
  font-weight: normal;
  src: url("./font-family/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'OpenSans BoldItalic';
  font-style: normal;
  font-weight: normal;
  src: url("./font-family/OpenSans-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'OpenSans ExtraBold';
  font-style: normal;
  font-weight: normal;
  src: url("./font-family/OpenSans-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: 'OpenSans ExtraBoldItalic';
  font-style: normal;
  font-weight: normal;
  src: url("./font-family/OpenSans-ExtraBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'OpenSans Italic';
  font-style: normal;
  font-weight: normal;
  src: url("./font-family/OpenSans-Italic.ttf") format("truetype");
}

@font-face {
  font-family: 'OpenSans Light';
  font-style: normal;
  font-weight: normal;
  src: url("./font-family/OpenSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'OpenSans LightItalic';
  font-style: normal;
  font-weight: normal;
  src: url("./font-family/OpenSans-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'OpenSans Regular';
  font-style: normal;
  font-weight: normal;
  src: url("./font-family/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'OpenSans Semibold';
  font-style: normal;
  font-weight: normal;
  src: url("./font-family/OpenSans-Semibold.ttf") format("truetype");
}

@font-face {
  font-family: 'OpenSans SemiboldItalic';
  font-style: normal;
  font-weight: normal;
  src: url("./font-family/OpenSans-SemiboldItalic.ttf") format("truetype");
}
