@import "colors";

.headline {
  font-size: 40px;
  font-family: "OpenSans Bold";
  color: $primaryColor;

  @media (max-width: 425px) {
    font-size: 25px;
  }
}

.subline {
  font-size: 22px;
  font-family: "OpenSans Bold";
  color: $primaryColor;
}

.label {
  font-size: 12px !important;
  font-family: "OpenSans Semibold";
  color: $primaryColor !important;
  border-color: $primaryColor !important;
}

.subtitle {
  font-size: 20px;
  font-family: "Roboto Regular";
  color: $nero;
}

.ml-auto {
  margin-left: auto !important;
}


.modal-title {
  font-size: 22px;
  font-family: "OpenSans Bold";
  color: $primaryColor;
}

.font-bold {
  font-size: 24px;
  font-family: "OpenSans Semibold";
}

.font-regular {
  font-size: 14px;
  font-family: "OpenSans Regular";
}

.font-small {
  font-size: 12px;
  font-family: "OpenSans Regular";
}

.w-100 {
  width: 100% !important;
}

.h-100 {
  height: 100% !important;
}

.vh-100 {
  min-height: 100vh !important;
}

.custom-card {
  .ant-card-body {
    padding: 0 30px !important;
  }
}
