@import "src/styles/colors";

.custom-filter {
  margin-bottom: 32px;
  &__label {
    font-size: 12px !important;
    font-family: "OpenSans Semibold";
    color: $primaryColor !important;
    border-color: $primaryColor !important;
  }
}



.select-component {
  width: 100%;
}

.status {
  font-size: 14px;
  font-family: "OpenSans Regular";
  color: $nero;
}
