.footer{
    position: relative;
    padding: 1rem;
    background-color: #B5B2B2;
    //background-color: black;
    width: 100%;
    color: white;  
    text-align: center;
    left:0;
    font-family: "OpenSans Regular";
    bottom: 0;
    display: grid;
    grid-template-columns:1fr 1fr ;
    font-size: 12px;
  }

