@import "src/styles/colors";

.cardContainer p {
  margin: 0;
}
.cardContainer > .ant-tabs-card .ant-tabs-content {
  height: 120px;
  margin-top: -16px;
}
.cardContainer > .ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane {
  padding: 16px;
  background: #fff;
}
.cardContainer > .ant-tabs-card > .ant-tabs-nav::before {
  display: none;
}
.cardContainer > .ant-tabs-card .ant-tabs-tab, .cardContainer > .ant-tabs-card .ant-tabs-tab {
  background: transparent;
  border-color: transparent;
}
.cardContainer > .ant-tabs-card .ant-tabs-tab-active, .cardContainer > .ant-tabs-card .ant-tabs-tab-active {
  background: #fff;
  border-color: #fff;
}
.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab {
  background: transparent !important;
}

.tabContainer {
  background: white;
  border-top-left-radius: 0 !important;
  .ant-card-body {
    padding: 0 30px 30px 30px !important;
  }
}

a.ant-btn {
  padding: 4px 15px !important;
}


.link-component:hover{
  color: $primaryColor !important;
  background-color: #f4f4f4 !important;
}
