@import "src/styles/colors";

.action {
  margin-left: auto;
}

.title {
  font-size: 30px;
  font-family: "OpenSans Bold";
  color: $primaryColor;
}

.subtitle {
  font-size: 20px;
  font-family: "OpenSans Regular";
  color: $nero;
}

.ant-modal-body {
  padding: 20px 40px !important;
}

.schedulesModalContent {
  overflow-y: auto;
  max-height: 600px;
  overflow-x: hidden;
}

.component {
  width: 100%;
}
