@import "./src/styles/colors";

// .layout-container {
// }
.navbar {
  &__avatar-icon {
    &--border {
      border: .5px solid $secondaryColor
    }
  }

  &__user-name {
    display: flex;
    font-family: 'OpenSans Semibold';
    font-size: 13.5px;
    color: $primaryColor;
    padding: 0 0.625rem;
  }

  &__type-user {
    padding: 0 0.625rem;
    font-family: "OpenSans Regular";
    font-size: 12px;
    color: $primaryColor;
  }

  &__icon-container {
    border-radius: 50%;
    height: 45px;
    width: 45px;
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    transition: 0.5s;
    margin-left: 3%;
  }

  &__arrow-icon {
    color: $primaryColor;
    font-size: 28px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out !important;

    &--up {
      transform: rotate(180deg) !important;
    }

    &--down {
      transform: rotate(0deg) !important;
    }
  }
}

.menu-container {
  border-radius: 8px !important;
  .ant-dropdown-menu-item {
    padding: .5rem 1rem;
  }

  .ant-dropdown-menu-item-icon {
    color: $primaryColor;
    font-size: 16px;
    margin-right: 11px;
  }

  .ant-dropdown-menu-title-content {
    color: $primaryColor;
    font-family: "OpenSans Regular";
    font-size: 14px;
  }

  &:not(.notifications){
    .ant-dropdown-menu-item-active {
      border-left: 4px solid $primaryColor !important;
    }
  }
}


.header {
  width: 100%;
  height: 4rem !important;
  max-height: 4rem !important;
  min-height: 4rem !important;
  background: $white;
  align-items: center;
  position: relative;
  z-index: 2;

  &__logo-container {
    width: 250px;
    height: 4rem;
    background: $primaryColor;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__logo {
    height: 3.5rem !important;
  }

  &__user-information {
    display: flex;
    align-items: center;
    margin-right: 3%;
    z-index: 100;
    cursor: pointer;
  }

  &__language-menu {
    margin-left: auto;
    display: flex;
    align-items: center;
    margin-right: 2rem;
    z-index: 100;
    cursor: pointer;
  }

  &__icon {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
  }

  &__text {
    font-family: "OpenSans Regular";
    font-size: 14px;
    color: $primaryColor;
    margin-right: .4rem;
    margin-left: .8rem;

    &--dropdown {
      margin-left: .4rem;
    }
  }
}

.ant-layout {
  background: $white !important;
}

.children-container {
  background: $white !important;
  //height: max(calc(100vh - 155px), 100%);
  //  height: calc(100vh - 5.75rem);
//  overflow: auto;
//  padding-right: 5px;
//  background: $white;
//  overflow-x: hidden;
  .main-content{
    margin: 0 3%;
    //overflow: hidden;
    //padding: .5rem 3%;
  }
  .public-content {
    margin: 0;
  }
}

//.children-container:hover,
//.children-container:active,
//.children-container:focus {
//  overflow-y: scroll;
//  padding-right: 0;
//}

.menu-container {
  width: 200px;
}

//@media (max-width: 992px) {
//  .header {
//    .logo-container {
//      width: 40%;
//      padding-left: 2.475rem;
//    }
//    .menu-icon {
//      font-size: 24px;
//      display: block;
//      width: 25%;
//      padding-left: 3%;
//    }
//    .header-user-information {
//      width: 35%;
//      margin: 0;
//      justify-content: end;
//      padding-right: 3%;
//    }
//  }
//}
//@media (max-width: 768px) {
//  .header {
//    .logo-container {
//      padding-left: 0;
//    }
//  }
//}
//
//@media (max-width: 720px) {
//  .header {
//    .logo-container {
//      width: 40%;
//      padding-left: 5%;
//    }
//    .avatar-icon {
//      padding-right: 0.5rem;
//    }
//    .user-name {
//      display: none;
//    }
//  }
//  .ant-dropdown-arrow {
//    right: 40px !important;
//  }
//}
//
//@media (max-width: 520px) {
//  .header {
//    .logo-container {
//      width: 55%;
//      padding-left: 7.5%;
//    }
//    .menu-icon {
//      width: 15%;
//    }
//    .header-user-information {
//      width: 30%;
//    }
//  }
//}
//
//@media (max-width: 450px) {
//  .header {
//    .logo-container {
//      width: 55%;
//      padding-left: 10%;
//      .logo {
//        height: 50px;
//      }
//    }
//    .menu-icon {
//      width: 5%;
//
//    }
//    .header-user-information {
//      width: 40%;
//    }
//  }
//}
//
//
//@media (max-width: 350px) {
//  .header {
//    .logo-container {
//      width: 55%;
//      padding-left: 1%;
//      .logo {
//        height: 50px;
//      }
//    }
//    .menu-icon {
//      width: 5%;
//
//    }
//    .header-user-information {
//      width: 40%;
//    }
//  }
//}
