.student-view {
  .subject-enrollment-card {
    .ant-card {
      margin-bottom: 0 !important;
    }
  }
}

.coursesDivider {
  border-top: 1px solid rgba(0,0,0,.12);
}

.subject-enrollment-card {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}