@import "src/styles/colors";

.sidebar-container {
  height: 100%;
  overflow-y: auto;
  position: fixed !important;
  .ant-menu-item {
    height: 3rem !important;
    border-radius: 0.3em;
  }
  .ant-menu.ant-menu-dark {
    background: $primaryColor;
  }

  .ant-menu-item-disabled {
    cursor: default;
  }

  .ant-menu-item-icon {
    width: 1.05rem !important;
    height: 1.05rem !important;
  }

  .ant-menu-title-content {
    color: $white;
    font-family: "OpenSans Semibold";
    font-size: 13px;
    opacity: 0.75 !important;
    display: inline-block;
    position: relative;
    line-height: normal;
  }

  .ant-menu-item-icon + span {
    margin-left: .8rem !important;
  }

  .ant-menu-item-selected {
    background: $solitude !important;

    .ant-menu-title-content {
      color: $primaryColor !important;
      font-size: 13px;
      opacity: 1 !important;
    }

    .ant-menu-item-icon {
      color: $primaryColor !important;
    }
  }

  .ant-drawer-body {
    padding: 0;
    background: $primaryColor !important;
  }
}

.ant-layout-sider {
  background: $primaryColor !important;
}

.sidebar-container .ant-menu.ant-menu-dark {
  padding: 0.2em;
}

.ant-menu-dark .ant-menu-inline.ant-menu-sub {
  background: $primaryColor !important;
}