@import "src/styles/colors";

.progress {
    display: flex;
    justify-content: center;
}

.ant-progress-inner:not(.ant-progress-circle-gradient) .ant-progress-circle-path {
    stroke:$primaryColor
}

.ant-progress-bg, .ant-progress-success-bg {
  position: relative;
  background-color: $primaryColor;
  border-radius: 100px;
  transition: all .4s cubic-bezier(.08,.82,.17,1) 0s;
}

.ant-carousel .slick-dots li button {
    background: $primaryColor;
    opacity: 0.4;
  }
  
.ant-carousel .slick-dots li.slick-active button {
    opacity: 1;
    background: $primaryColor;
}

.ant-carousel .slick-prev,
.ant-carousel .slick-next {
  color: $primaryColor;
  opacity: 0.55;
  font-size: 20px;
}

.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover,
.ant-carousel .slick-prev:focus,
.ant-carousel .slick-next:focus {
  color: $primaryColor;
  opacity: 1;
}

.carouselCardButton {
  height: auto !important;
}
  