@import "src/styles/colors";

.google-login-button {
  background: $primaryColor;
  color: $white;
  border-color: $primaryColor;
  margin-top: 1.0625rem;
  letter-spacing: 0;
  opacity: 1;
  border-radius: 20px;
  height: 2.5rem;
  min-width: 335px;

  &__text {
    height: 100%;
    display: inline-block;
    span {
      position: absolute;
      top: 7.5px;
      left: 50px;
    }
  }
}

.google-login-button:hover {
  background: $primaryColor;
  color: $white;
  border-color: $primaryColor;
}

.google-login-button:focus {
  background: $primaryColor;
  color: $white;
  border-color: $primaryColor;
}

.unsa-logo {
  width: 30px;
  height: 30px;
}