@import "./src/styles/colors";

.card {
  margin: 20px 0;
  margin-bottom: 1rem !important;
}

.col {
    min-width: 100px;
}

.component {
    width: 100%;
}

.userModal {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}