.ant-collapse {
    border-radius: 8px;
    border-bottom: 0;
  }
  
.ant-collapse>.ant-collapse-item:last-child {
    border-radius: 0 0 8px 8px;
}

.ant-collapse>.ant-collapse-item {
    margin-top: 0;
}
  
.ant-collapse>.ant-collapse-item>.ant-collapse-header {
    padding: 6px 16px;
    font-size: 12px !important;
    font-family: "OpenSans Semibold";
    color: #141E42 !important;
    border-color: #141E42 !important;
}

.ant-collapse>.ant-collapse-item>.ant-collapse-content {
    border-radius: 0 0 8px 8px;
}

.ant-collapse>.ant-collapse-item>.ant-collapse-content>.ant-collapse-content-box {
    padding: 10px 12px 0 16px;
}
  